.apconixGrid table {
    border: 1px solid #D5D8DC;
    border-collapse: collapse;
  }

.apconixGrid th {
    border: thin solid #D5D8DC;
    padding: 10px;
  }

.apconixGrid td {
    border: thin solid #D5D8DC;
    padding: 10px;
  }