html {
  font-size: 14px;
}

body {
  margin: 0;
  font-weight: 300;
}

.hide {
  display: none;
}

.noDataTableHeader thead {
  display: none;
}

.DropdownWhiteLabel .p-dropdown-label.p-placeholder {
  color: #ffffff !important;
}
